{% extends "/layouts/index.html"%} 

{% block title %}
  About  
{% endblock %}

{% block content %}

  <div class="container">
     <h1 class="mt-5">About</h1>
    <form action="/dashboard/modify_about" method="POST" enctype="multipart/form-data" class="mb-4 mt-4">

      <textarea name="About" type="textarea" rows="3" class="form-control" contenteditable=about>{{About}} </textarea>
    
      <div class='row justify-content-end'>
        <!-- <div class='col-md-2'>
          <button class="btn btn-outline-secondary" type="submit">
            MODIFY
          </button>
        </div> -->

        <div class='col-md-2'>
          <button type="submit" class="btn btn-success">
            SEND
          </button>
        </div>

      </div>

    </form>
  </div>

    <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">File Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {%for file in files%}
        <tr>
          <td>
          <a target="_blank" href="/dashboard/files/{{file}}">  {{file}}</a>
          </td>
          <td>
            <form action="/dashboard/files/{{file}}" method="POST">
              <button class="btn btn-danger" type="submit">
                DELETE
              </button>
            </form>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table> -->
   </div>
{% endblock %}

